@import "~/globals/colors.scss";

.footer {
	background-color: $black;
	color: $white;
	padding: 1.5rem 3rem;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;

	.seal img {
		width: 145px;
	}

	.social-icon:nth-child(1n + 2) {
		margin-left: 1rem;
	}
}

@media (max-width: 430px) {
	.footer {
		flex-direction: column;
		padding: 2rem 0 3rem;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			width: calc(100% - 4rem);
			top: 0;
			height: 1px;
			background-color: $white;
			margin-bottom: 1rem;
		}

		.seal img {
			margin-bottom: 1.75rem;
		}
	}
}
